.h1 {
    text-align: center;
    font: 700 Verdana;
    font-size: 65px;
}

.gridContainer {
    height: 500px;
    width: 500px;
    margin: auto;
    border: solid;
}

.gridDiv:hover {
    background-color: black;
}
