.h1 {
    text-align: center;
    font: 700 Verdana;
    font-size: 65px;
}

.gridContainer {
    display: grid;
    grid-template-rows: repeats (16, 1fr);
    grid-template-columns: repeats (16, 1fr);
    height: 500px;
    width: 500px;
    margin: auto;
    border: solid;
}