.h1 {
    text-align: center;
    font: 700 Verdana;
    font-size: 65px;
}

.askingButton {
    font: 700 Verdana;
    font-size: 20px;
}

.gridContainer {
    display: grid;
    height: 500px;
    width: 500px;
    margin: auto;
    border: solid;
}
